


@import "tailwindcss";
/* Note: You may need to change the path to fit your project structure */
@config "..//tailwind.config.js";


body {
  margin: 0;
  display: flex;
  place-items: center;
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

.notice-content {

  list-style: disc !important;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeef4;
}

.dark ::-webkit-scrollbar-track {
  background: #2e2e3a;
}
::-webkit-scrollbar-thumb {
  background: #9090a8;
  border-radius: 999px;
  border: 2px solid #eeeef4;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c7c96;
}

.markdown-body {
  background: transparent !important;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.dark .markdown-body {
  color:#ffffff;
}


