name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Install Dependencies
        run: npm i
        working-directory: Page

      - name: Build Page
        run: npm run build
        working-directory: Page

      - name: Build
        run: sed -i 's/const ENV = "DEV"/const ENV = "BUILD"/g' main.go && sed -i '$d' go.mod && ./build.sh
      - name: Upload Artifacts
        uses: GeyserMC/actions/upload-multi-artifact@master
        with:
          artifacts: |
            build/BiliMonitor-darwin_amd64
            build/BiliMonitor-darwin_arm64
            build/BiliMonitor-linux_amd64
            build/BiliMonitor-linux_arm64
            build/BiliMonitor-windows_amd64
